<div class="side-nav">
  <div class="side-nav-logo">
  <a href="/"><img src="/assets/tinytalk.png" alt=""/></a>
  </div>
</div>


<div id="main-container" style="background-color:#40434c;">
    <div class="container-signup" style="height:720px; background-color:#40434c;">
      <div class="span4" style="margin-top: 100px;">

        <!-- Page Title -->
        <div class="page-heading">
          <h1>Sign Up!</h1>
        </div>
        <div class="entry drop-shadow curved">
         <div class="contact-alerts">
          </div>
          <div class="row-fluid">
            <div class="span12">
              <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
                 <%= devise_error_messages! %>

            <div class="form-inputs">
              <%= f.label :email %><br />
              <%= f.email_field :email, :autofocus => true %>


              <%= f.label :username %><br />
              <%= f.text_field :username, :autofocus => true %>

              <%= f.label :password %><br />
              <%= f.password_field :password %>

              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation %>


              <%= f.submit "Sign up" %>
            </div>
              <% end %>
              <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
  </div>
</div>
