<div class="isotope-post span4 image">
        <div>

          <!-- Thumbnail -->


          <a href="<%=pin.image %>" class="fancybox entry-image">
            <span class="entry-image-overlay"></span>
            <img src="<%=pin.image %>" alt="" />
          </a>

            <div class="entry drop-shadow curved">

              <!-- Title -->
              <h1 class="heading">
                <%= pin.user.email %>
              </h1>

              <!-- Content -->
              <p><%=pin.description %></p>

              <!-- Meta -->
              <ul class="entry-meta">
                <li class="time">
                  <%= link_to "View Comments", board_pin_path(pin.board_id,pin.id)%>
                </li>
              </ul>

          </div>

        </div>
      </div>






<%
=begin %>
<div class="box">
    <%= link_to (image_tag pin.image(:medium)), board_pin_path(@board, pin) %>
    <p class="description">
    <%= pin.description %>
    </p>
    <p>
      <strong>
        Posted by <%= pin.user.email %>
      </strong>
    </p>

    <% if current_user == pin.user %>
      <p>
        <%= link_to 'Edit', edit_board_pin_path(@board,pin) %>
        <%= link_to 'Destroy', board_pin_path(@board,pin), method: :delete, data: { confirm: 'Are you sure?' } %>
      </p>
    <% end %>


    <input type="checkbox" id="p" name="check_all_1" title="Select All" onclick="this.parentNode.style.backgroundColor='red';">
</div>
<%
=end %>