<div id="main-container">
    <div class="container">

      <div class="row">
        <div class="span8 post-center">

          <!-- Image -->


          <%=image_tag(@pin.image,:class => "entry-image" )%>

            <div class="entry drop-shadow curved ">

              <!-- Title -->
              <h1 class="heading"><%=User.find(@pin.user_id).username %></h1>

              <!-- Content -->
              <p><%= @pin.description%></p>

              <!-- Meta -->
              <ul class="entry-meta">
                <li class="time"><%=@pin.created_at %></li>
              </ul>

          </div>

        </div>
      </div>

    </div>
  </div>





<%
=begin %>
<p>
  <%=image_tag @pin.image(:medium) %>
  <b>Description:</b>
  <%= @pin.description %>
  <%= @pin.user.email %>
</p>
<div id="allcomments">
  <p>
    <% @comments.each do |comment| %>
      <p>
      <strong><%= User.find(comment.user_id).username %></strong>: <%= comment.content %>
      </p>
    <% end %>
  </p>
</div>
<%= form_for @comment do |f| %>
  <%= f.text_area :content, placeholder: "Enter Comment Here" %>
  <%= f.hidden_field :commentable_type, value: "Pin" %>
  <%= f.hidden_field :commentable_id, value: @pin.id %>
  <%= f.hidden_field :board_id, value: @board %>
  <%= f.submit 'Submit Comment', id: "commentsubmit" %>
<% end %>

<% if current_user == @pin.user %>
<%= link_to 'Edit', edit_board_pin_path(@board) %> |
<% end %>
<%= link_to 'Back', board_path(@board) %>

<br><br>
<%
=end %>
