
  <div class="preloader"></div>
  <div class="mobile-nav-container">

    <div class="mobile-nav-bar">

        <button type="button" class="btn-mobile-nav" data-toggle="collapse" data-target="#mobile-nav"></button>

      <!-- Mobile Logo -->
      <div class="logo-image">
        <a>

        </a>
      </div>

    </div>

    <!-- Mobile Drop Down -->
    <div id="mobile-nav" class="collapse">
      <ul>
         <li><br></li>
          <li class="dropdown"><a href="#">Add Pin</a>
            <ul class="sub-menu">
              <li></li>
              <li></li>
            </ul>
          </li>
            <li> </li>
      </ul>
    </div>
  </div>
  <!-- END Mobile Navigation -->

  <!-- BEGIN Side Nav -->
  <div class="side-nav">

    <!-- Side Nav Logo -->
    <div class="side-nav-logo">
      <a href="/">
        <img src="<%= @user.avatar.url %>" class="img-circle" alt=""/>
      </a>
    </div>

    <!-- Side Nav Text -->
    <div class="side-nav-bio">
      <h2><strong><%= @user.username%></strong></h2>
    </div>

    <!-- Side Nav Menu -->
    <ul class="side-nav-menu">
        <li id="upload-profile" class="dropdown"><a href="#">Upload Profile Picture</a>
        <div id="upload-form">
          <%= form_for @user, url:{ action: "update" } , :html => { :multipart => true } do |form| %>
          <%= form.file_field :avatar %>
          <%= form.submit %>
          <% end %>
        </div>
        <a data-toggle="modal" data-target="#myModal">
        Create a board
        </a>
    </ul>

    <!-- Side Nav Widgets -->
    <div class="side-nav-widget">
      <div class="side-nav-widget-inner">
        <ul>
          <li class="widget widget_search">
            <form role="search" method="get" id="searchform" action="#">
                <input type="text" placeholder="Search" value="" name="s" id="s" />
                <input type="submit" id="searchsubmit" value="Search" />
            </form>
          </li>
        </ul>
      </div>
    </div>

    <!-- Side Nav Footer -->
    <div class="side-nav-footer">
    </div>
</div>
  <ul class="category-filter">
    <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => "selected" %></li>
    <li><%= link_to "Edit Profile", edit_user_registration_path, :class => "selected" %></li>
  </ul>

  <!-- This form is a modal to create a board -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" id="close1" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create a board.</h4>
      </div>
      <div class="modal-body">
        <%= render :partial => 'form' %>
        </div>
      <div class="modal-footer">
        <button type="button" id="closeModal1" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div id= "main-container">


        <div id= "wrapper">



            <!-- Board already in database -->
            <div id="user-boards">
              <div id="new-boards">
              <!-- This is where new boards get appended -->
            </div>

            <% @boards.each do |board| %>
              <div id="<%= board.id %>" class="box" >

                <div id="title_<%= board.id %>">

                    <h1 class="heading"><a href="/boards/<%= board.id %>"><%= board.title %></a></h1>
                    <hr>
                    <p>User on the board:</p>
                    <% board.users.each do |user| %>
                      <%= image_tag user.avatar.url, :id => "avatar", :title =>  user.username %>
                     <% end %>

                </div>

                <button class="btn btn-default btn-sm" data-id="<%= board.id  %>" data-method="delete">Delete</button>

                <button class="btn btn-default btn-sm" data-id="<%= board.id  %>" data-toggle="modal" data-target="#myModal2"> update board</button>

              </div>
                      <% end %>
          </div>
        </div>
  </div>
</div>



<div id="wrapper-update">
  <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" id="close2" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Update a board.</h4>
        </div>
          <div id="modal-body2" class="modal-body">

          </div>
          <div class="modal-footer">
           <button type="button" id="closeModal2" class="btn btn-default " data-dismiss="modal">Close</button>
          </div>
      </div>
    </div>
  </div>
</div>
