<p id="notice"><%= notice %></p>

<p>
  <b>Link:</b>
  <%= @link.link %>
</p>

<p>
  <b>Title:</b>
  <%= @link.title %>
</p>

<p>
  <b>User:</b>
  <%= @link.user_id %>
</p>

<p>
  <b>Board:</b>
  <%= @link.board_id %>
</p>


<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
