<form>

  <h3><%= board.title %></h3>

  <div>
    Update Title: <input id="board_title_update" type="text" name="board[title]">
  </div>

  <div>
    <hr>
      <h4>Users:</h4>
    <hr>
    <% for(var index in users){ %>
      <div class="user_on_board_<%=users[index].id%>">
          <%= users[index].username %>
          <% if (users[index].avatar_file_name == null){ %>
         <img id ="avatar-update" src="/assets/missing.jpg">
      <% } else {%>
          <img id ="avatar-update" src="http://s3-us-west-1.amazonaws.com/tinytalk/users/avatars/000/000/0<%=users[index].id%>/original/<%= users[index].avatar_file_name %>">
      <% } %>
        <form>
          <input class="board_user_id_<%=users[index].id%>" type="hidden"  value="<%=users[index].id%>">
          <input class="board_id" type="hidden" value="<%= board.id %>">
          <input class="user-remove" value="x" type="submit" data-id="<%=users[index].id%>">
        </form>
        <hr>
      </div>
   <%}%>
  </div>

  <div id="add-users2">
    <h3>+</h3>
  </div>

  <div id="user-form2">
  </div>

  <div>
    <button class="btn btn-default btn-sm" data-id="<%= board.id  %>" data-method="put">Update</button>
  </div>

</form>
