<div class="span4" style=" margin:auto">
  <div class="entry drop-shadow curved">
    <div class="contact-alerts">
    </div>
    <div class="row-fluid">
      <div class="span12">
      <form>
        <h3><%= board.title %></h3>
        <div>
          <div class="form-inputs">
          Update Title: <input id="board_title_update" type="text" name="board[title]">
        </div>
      </div>
          <hr>
          <h4>Users:</h4>
          <hr>
            <% for(var index in users){ %>
            <div class="user_on_board_<%=users[index].id%>">
            <%= users[index].username %>
             <% if (users[index].avatar_file_name == null){ %>
            <img id ="avatar-update" src="/assets/missing.jpg">
         <% } else {%>
              <img id ="avatar-update" src="http://s3-us-west-1.amazonaws.com/tinytalk/users/avatars/000/000/0<%=users[index].id%>/original/<%= users[index].avatar_file_name %>">
        <% } %>
        <form>
          <div class="form-inputs" style="float: right;">
          <input class="board_user_id_<%=users[index].id%>" type="hidden"  value="<%=users[index].id%>">
          <input class="board_id" type="hidden" value="<%= board.id %>">
          <input width="30px" class="user-remove" value="x" type="submit" data-id="<%=users[index].id%>">
        </div>
        </form>
        <hr>
      </div>
    <%}%>


  <div class="form-actions">
  <div id="add-users2">
    <h3>+</h3>
  </div>
</div>

  <div class="form-inputs">
  <div id="user-form2">
  </div>
  </div>

   <div class="form-actions">
    <button class="btn btn-default btn-sm" data-id="<%= board.id  %>" data-method="put">Update</button>
  </div>

</form>
</div>
</div>
</div>
</div>
</div>
