

      <div class="isotope-post span4 standard">
        <div>

            <div class="entry drop-shadow curved">

              <!-- Title -->
              <h5 class="heading">
                <%= link_to text_pin.title, board_text_pin_path(text_pin.board_id,text_pin.id)%></a>
              </h5>

              <!-- Content -->
              <p class="more"><%= text_pin.content %><%= link_to "Read More", board_text_pin_path(text_pin.board_id,text_pin.id)%></p>

              <!-- Meta -->
              <ul class="entry-meta">
                <li class="time">Posted by <%= text_pin.user.email %></li>
              </ul>

            </div>

        </div>
      </div>










<%
=begin %>
<div class="box">
  <strong><%= link_to (text_pin.title), board_text_pin_path(@board, text_pin) %></strong>

    <p class="description">
      <%= text_pin.content %>
    </p>
    <p>
      <strong>
        Posted by <%= text_pin.user.email %>
      </strong>
    </p>

    <% if current_user == text_pin.user %>
      <p>
        <%= link_to 'Edit', edit_board_text_pin_path(@board,text_pin) %>
        <%= link_to 'Destroy', board_text_pin_path(@board,text_pin), method: :delete, data: { confirm: 'Are you sure?' } %>
      </p>
    <% end %>
</div>
<%
=end %>