<div class="preloader"></div>
  <div class="mobile-nav-container">

    <div class="mobile-nav-bar">

        <button type="button" class="btn-mobile-nav" data-toggle="collapse" data-target="#mobile-nav"></button>

      <!-- Mobile Logo -->
      <div class="logo-image">
        <a>
          <img src="<%= @user.avatar.url %>" alt=""/>
        </a>
      </div>

    </div>

    <!-- Mobile Drop Down -->
    <div id="mobile-nav" class="collapse">
      <ul>
         <li><%= link_to "All Boards", root_path %><br></li>
          <li class="dropdown"><a href="#">Add Pin</a>
            <ul class="sub-menu">
              <li><%= link_to "Add Image", new_board_pin_path(@board, @pin) %></li>
              <li><%= link_to "Add Text", new_board_text_pin_path(@board, @pin) %></li>
            </ul>
          </li>
            <li> <%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
      </ul>
    </div>
  </div>
  <!-- END Mobile Navigation -->

  <!-- BEGIN Side Nav -->
  <div class="side-nav">

    <!-- Side Nav Logo -->
    <div class="side-nav-logo">
      <a href="/">
        <img src="<%= @user.avatar.url %>" class="img-circle" alt=""/>
      </a>
    </div>

    <!-- Side Nav Text -->
    <div class="side-nav-bio">
      <h2><strong>Board:</strong><%= @board.title %></h2>
    </div>

    <!-- Side Nav Menu -->
    <ul class="side-nav-menu">
      <li><%= link_to "Back", board_path(@board) %><br></li>
      <li class="dropdown"><a href="#">Add Pin</a>
        <ul class="sub-menu">
          <li><%= link_to "Add Image", new_board_pin_path(@board, @pin) %></li>
          <li><%= link_to "Add Text", new_board_text_pin_path(@board, @pin) %></li>
        </ul>
      </li>
        <li> <%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
    </ul>

    <!-- Side Nav Widgets -->
    <div class="side-nav-widget">
      <div class="side-nav-widget-inner">
        <ul>
          <li class="widget widget_search">
            <form role="search" method="get" id="searchform" action="#">
                <input type="text" placeholder="Search" value="" name="s" id="s" />
                <input type="submit" id="searchsubmit" value="Search" />
            </form>
          </li>
        </ul>
      </div>
    </div>

    <!-- Side Nav Footer -->
    <div class="side-nav-footer">
    </div>

  </div>


<p id="notice"><%= notice %></p>
<!DOCTYPE html>
<html lang="en-US">
<head>

    <meta charset="utf-8">

    <title>Spaces » Standard Post</title>

    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>

<body class="home blog">

  <!-- Grid -->
  <div id="main-container">
    <div class="container">

      <div class="row">
        <div class="span8 post-center">

            <div class="entry drop-shadow curved ">

              <!-- Title -->
              <h1 class="heading"><%=@text_pin.title %></h1>

              <!-- Content -->
              <p><%=@text_pin.content %></p>

              <!-- Comments -->
              <div id="allcomments">
              <ul class="entry-meta">
                <h2 class="heading">Comments</h2>
                <% @comments.each do |comment| %>
                  <li id="comment<%= comment.id %>">
                    <p>
                      <strong><%= User.find(comment.user_id).username %></strong>: <%= comment.content %>
                      <button data-id="<%= comment.id  %>" data-method="commdelete">Delete</button>
                    </p>
                  </li><br>
                <% end %>
              </ul><br>
              </div> <!-- Closing All Comments -->

              <!-- New Comments -->
              <%= form_for @comment do |f| %>
                <%= f.text_area :content, placeholder: "Enter Comment Here" %>
                <%= f.hidden_field :commentable_type, value: "Text_Pin" %>
                <%= f.hidden_field :commentable_id, value: @text_pin.id %>
                <%= f.hidden_field :board_id, value: @board.id %>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= f.submit 'Submit Comment', id: "commentsubmit" %>
              <% end %>

              <!-- Meta -->
              <ul class="entry-meta">
                <li class="time">1 month ago</li>
              </ul>

          </div>

        </div>
      </div>

    </div>
  </div>

  <div class="mobile-footer">
    <ul>
      <li>
        <a href="#" rel="alternate" data-original-title="Pinterest"><img height="24" src="img/icons/glyphicons_360_pinterest@2x.png" alt="" /></a>
      </li>

      <li>
        <a href="#" rel="alternate" data-original-title="LinkedIn"><img height="24" src="img/icons/glyphicons_377_linked_in@2x.png" alt="" /></a>
      </li>

      <li>
        <a href="#" rel="alternate" data-original-title="Twitter"><img height="24" src="img/icons/glyphicons_392_twitter@2x.png" alt="" /></a>
      </li>

      <li>
        <a href="#" rel="alternate" data-original-title="Facebook"><img height="24" src="img/icons/glyphicons_390_facebook@2x.png" alt="" /></a>
      </li>

      <li>
        <a href="#" rel="alternate" data-original-title="Dribbble"><img height="24" src="img/icons/glyphicons_374_dribbble@2x.png" alt="" /></a>
      </li>

    </ul>
    <p>This is some awesome copyright text</p>
  </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </body>
</html>















